{% extends 'base.html' %}
{% block title %}Update the Project{% endblock %}
{% block content %}
    <div class="task-form">
    <h1>LOGIN PAGE</h1>
    <form action="" method="post" class="text-center">
        {% csrf_token %}
        {% if has_error %}
            <p class="form-error">Incorrect login or password.</p>
        {% endif %}
        <div class="form-group">
            <label for="username" class="form-label">Login:</label>
            <input type="text" name="username" id="username">
        </div>
        <br>
        <div class="form-group">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <br>
        <button type="submit">Sign In</button>
    </form>
</div>
{% endblock %}