{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}School App{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/v5.11.1/css/free.min.css" media="all">
</head>
<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">School App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create' %}">Add Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'send_email' %}">Send email</a>
                        </li>
                            <li class="nav-item" style="padding-top: 7px">Hello, <a href="#">{{ user.username }}</a>!</li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}?next={{ request.get_full_path }}">Sign out</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                </li>
                                {% if 'login' in request.get_full_path %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                                </li>
                                {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            </nav>
        </div>
    </div>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible fade show {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    alert-danger
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    alert-warning
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    alert-success
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    alert-primary
                {% else %}
                    alert-secondary
                {% endif %}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
        <a class="btn btn-outline-info" href="{% url 'index' %}" role="button">Go to Main Page</a>
    </div>
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/btn.js' %}"></script>
</body>
</html>